@font-face {
  font-family: 'BilboSwashCaps';
  src: url('BilboSwashCaps-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'BilboSwashCaps';
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  padding: 10px;
}
img {
  width: 100px;
  height: 100px;
}
